* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px solid black;
}
body {
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: -1;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2% auto 0;
  background-color: rgba(137, 124, 124, 0.3);
  padding: 10px;
  max-width: min(90%, 700px);
  border-radius: 6rem;
}
main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
footer {
  font-weight: 400;
  color: #fff;
  font-size: 15px;
}
a {
  color: blueviolet;
}
div.bg-wrapper {
  background: url("../images/7880c9fc9fcdeae892736a0173cdb4e1.jpg") bottom/cover
    no-repeat;

  position: absolute;
  height: 100vh;
  width: 100vw;

  z-index: -2;
  inset: 0;
}
.bg-wrapper > div.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.dark-mode {
  background-color: #000;
  opacity: 0.8;
}
div.drop-down-btns {
  display: flex;
  gap: 30px;
}

div.bar-display-btns {
  display: flex;
  gap: 10px;
}
div.clock-info {
  position: relative;
  overflow: hidden;
  width: clamp(250px, 35vh, 380px);
  aspect-ratio: 3/5;
  border-radius: 50%/25%;
}
.first-clock-displayed {
  z-index: 3;
  position: relative;
}
.cities-input,
.drop {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.local {
  display: flex;
  justify-content: center;
}
.local,
.cities-input > select {
  font-size: 16px;
  background-color: rgb(255, 255, 255, 0.3);
  border: none;
  box-shadow: 0 0 10px rgb(255, 255, 255, 0.3);
  padding: 14px;
  position: relative;
  top: 30px;
  width: min(700px, 90%);
  appearance: auto;
  z-index: 999999;
  border-radius: 6rem;
}
.bg-img-two {
  z-index: 0;
  inset: 0;
  position: absolute;
  background: url("../images/window-daylight.jpg") center/cover no-repeat;
}
.bg-img-one {
  z-index: 0;
  inset: 0;
  position: absolute;
  background: url("../images/clone.jpg") center/cover no-repeat;
}
.time-city-details {
  position: absolute;
  left: 23px;
  top: 50px;
  z-index: 2;
}
div.behind-wrap {
  position: relative;
}
.behind-wrap::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 50%/25%;
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgb(255, 255, 255, 0.1);
  filter: blur(1px);
  transform: scaleY(1.1) scaleX(1.2);
  pointer-events: none;
}
.theme-switcher {
  display: flex;
  background-color: rgba(41, 39, 35, 0.3);
  box-shadow: 5px 5px 10px rgb(255, 255, 255, 0.3);
  padding: 3.5px;
  gap: 0.4rem;
  border-radius: 6rem;
}
.light,
.dark {
  font-size: 15px;
  padding: 8px 30px;
  border-radius: 6rem;
  border: none;
}
.wlcm-msg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  background-color: rgb(255, 255, 255, 0.5);
  flex-shrink: 1;
  width: 300px;
  border-radius: 6rem;
}

.to-do-list,
.calendar-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
}
.container {
  gap: 40px;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.calendar,
.to-do-list-popup {
  width: clamp(320px, 37vh, 400px);
  display: flex;
  border: 1px solid rgb(255, 255, 255, 0.5);
  position: relative;
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgb(255, 255, 255, 0.1);
  border-radius: 6rem;
  transition: opacity 1s;
}
.calendar {
  aspect-ratio: 1/1;
  bottom: 3%;
}
.to-do-list-popup {
  flex-direction: column;
  aspect-ratio: 1/1.7;
  bottom: 1%;
}

.full-to-do-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-to-show-above {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.list-to-show-above > h1 {
  text-align: center;
}

#add-input {
  width: clamp(150px, 100%, 300px);
  height: clamp(27px, 42px, 60px);
  border: none;
  border-radius: 1rem;
  padding-left: 10px;
  position: relative;
  font-size: 17px;
}
#add-btn {
  width: clamp(33px, 65px, 85px);
  height: clamp(25px, 37px, 50px);
  border-radius: 1rem;
  position: absolute;
  right: 13px;
  margin-top: 2.5px;
  font-size: 17px;
  font-weight: 600;
  border: none;
}
.check-list-items {
  display: flex;
  gap: 10px;
}

.check {
  transform: scaleY(1.7) scaleX(1.5);
}
.to-do-item {
  width: clamp(150px, 90%, 270px);
  height: clamp(20px, 35px, 45px);
  border-radius: 0.3rem;
  border: none;
  background-color: rgb(255, 255, 255, 0.5);
  font-size: 17px;
  padding-left: 10px;
  color: #000;
}
.footer-to-do-list {
  display: flex;
  justify-content: space-around;
  gap: 45px;
  margin-bottom: 17px;
}

.delete-btn-all {
  width: clamp(33px, 65px, 85px);
  height: clamp(25px, 35px, 50px);
  border-radius: 0.5rem;
  border: none;
  font-size: 14px;
}

.number-of-items {
  font-size: 15px;
  margin: 5px;
}
.info {
  inset: 0;

  left: 10%;
  top: 10%;
}
.cal-title {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;

  font-size: 32px;
  font-weight: 600;
}

.cal-day {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1/1;
  height: auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
}
.num {
  font-size: 17px;
  line-height: 1;
  margin: 0;
}
.month-days {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 20px 20px;
  padding: 10px;
  justify-content: space-around;
  gap: 10px;
}
.today {
  background-color: rgb(255, 255, 255) !important;
}
#month {
  font-size: 27px;
  font-weight: lighter;
}
#year {
  font-size: 27px;
  font-weight: bold;
}
.material-symbols-outlined {
  font-weight: 0;
  color: rgb(000, 000, 000);
}
.material-symbols-outlined:hover {
  cursor: pointer;
}
.done {
  text-decoration: line-through;
  color: grey;
  opacity: 0.7;
}
.hidden {
  opacity: 0;
}
.transparent {
  background-color: transparent;
}
.active {
  background-color: #fff;
}
